/* importation de la police 'Poppins' de Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
nav ul {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 20%;
}
nav ul li {
  gap: 10px;
}
nav a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.bouton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-decoration: none;
  padding: 8px 16px;
  width: fit-content;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.bouton.primaire {
  background: #8005f2;
  color: white;
  display: flex;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid black;
  object-fit: cover;
}
.logo-nom-kk {
  display: flex;
  align-items: center;
  gap: 20%;
}
.panier-avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

main {
  height: 90vh;
}

main,
footer {
  background: #dbdad6;
}

main h1 {
  display: flex;
  justify-content: center;
}
.carte {
  display: flex;
  background: #8005f2;
  color: white;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  text-transform: uppercase;
  gap: 5px;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.24);
  padding: 16px;
  transition: all 1s ease-in-out;
  width: 100%;
}
.section {
  display: flex;

  margin: 0 15px;
  gap: 10px;
}
.carte img {
  width: 100%;
  height: 100%;
}
footer {
  display: flex;
  justify-content: center;
}
